.jumbotron {
    margin-bottom: 0px;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    font-size: 500%;
    font-weight: 800;
    background-color: lightblue;
}

.list-group-item {
    border: 1px solid black;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}
