<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="economy.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="jumbotron text-center">
        <p>"Bloomin" Economy</p>
    </div>

    <div class="row">
        <div class="col text-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="63.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Percent of population that is of working age (18-65)</p>
                </div>
            </div>
        </div>
        <div class="col text-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="42.JPG" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Unemployment Rate</p>
                </div>
            </div>
        </div>
        <div class="col text-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="med_family_income.JPG" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Median Family Income</p>
                </div>
            </div>
        </div>
    </div>

    <ul class="list-group">
        <li id="bloomsburg_university_button" class="list-group-item" onclick>Bloomsburg University</li>
        <div id="bloomsburg_dropdown"></div>
        <li class="list-group-item">Geisinger System Services</li>
        <li class="list-group-item">Wise Foods</li>
        <li class="list-group-item">Autoneum North America</li>
        <li class="list-group-item">Berwick Offray</li>
        <li class="list-group-item">Kawneer Company</li>
        <li class="list-group-item">DT Keystone Distributing (Dollar Tree)</li>
        <li class="list-group-item">Smuckers Pet Foods</li>
        <li class="list-group-item">Berwick Hospital</li>
        <li class="list-group-item">Wal-Mart Associates</li>

    </ul>

</body>

<script src="economy.js"></script>

</html>