.jumbotron {
    margin-bottom: 0px;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    font-size: 500%;
    font-weight: 800;
    background-color: lightblue;
}

.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
}
