<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="index.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="jumbotron text-center">
        <p>Bloomsburg</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Economy</h3>
                <p>• Dozens of high tech employers</p>
                <p>• Low cost of living, ideal for remote workers</p>
                <p>• Local talent pools to get your business off to the right start</p>
            </div>
            <div class="col-sm-4">
                <h3>Education</h3>
                <p>• Bloomsburg University for access to quality and affordable education</p>
                <p>• From Bloomsburg to Central Columiba, top school districts are plentiful</p>
            </div>
            <div class="col-sm-4">
                <h3>Quality of Life</h3>
                <p>• Walkable downtown with great food and charm</p>
                <p>• Plentiful green spaces, no traffic, low crime, and a tight community bond</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button id="economyBotton" type="button" class="btn btn-primary btn-lg">Economic Facts</button>
            </div>
            <div class="col text-center">
                <button type="button" class="btn btn-primary btn-lg">School Figures</button>
            </div>
            <div class="col text-center">
                <button type="button" class="btn btn-primary btn-lg">Community Info</button>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    document.getElementById("economyBotton").onclick = function () {
        location.href = "/economy";
    };
</script>

</html>